In [50]:
# Creating lists
list1 = [1, 2, 3, 4, 5]

In [51]:

type([1, 2, 3, 4, 5])

list

In [52]:
# indexing; when you want to call a certain value in the list, so you call for the index or space the value is occupying 
# list index starts at 0 --> i.e in list [4,7,1] the value "4" is in spot "0" of the list 

myList = [7, 4, 9, 2, 5]
myList[0]

7

In [53]:
# use semicolon to call a number of values in the list 
myList[0:3]
# or use the shortcut
myList[:3]

[7, 4, 9]

In [54]:
# nested lists 
# the "-1" is the last index in the list
myList[-1] = ["one", "two", "three"]
myList

[7, 4, 9, 2, ['one', 'two', 'three']]

In [55]:
# you can call values in a nested list by calling for the first list index value and then the second
myList[-1][1]

'two'

In [56]:
myList.extend([10,11,12])
myList

[7, 4, 9, 2, ['one', 'two', 'three'], 10, 11, 12]

In [57]:
myList.pop(2)
myList

[7, 4, 2, ['one', 'two', 'three'], 10, 11, 12]

In [58]:
myList.append(20)
myList

[7, 4, 2, ['one', 'two', 'three'], 10, 11, 12, 20]

In [59]:
list2 = [6, 7, 8]
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8]

## Tuples
#### Tuple is similar to a list but it is immutable --> once you make it you cannot change it

In [60]:
tuple1 = 2, 3, 4, 5, "one", "two"
tuple1

(2, 3, 4, 5, 'one', 'two')

In [74]:
firstname = "Mary", "Anne", "Raquel"
lastname = "Smith", "Johnson", "Lohler"
list(zip(firstname, lastname))

[('Mary', 'Smith'), ('Anne', 'Johnson'), ('Raquel', 'Lohler')]

## Dictionary 
#### dictionaries are key-value pairs

In [66]:
id345 = {'First Name':'Jenny', 'Last Name':'Smith', 'Age':48, 'Heart Rate':75}
id345

{'First Name': 'Jenny', 'Last Name': 'Smith', 'Age': 48, 'Heart Rate': 75}

In [67]:
# return the keys of the dict.
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [69]:
# return the values
id345.values()

dict_values(['Jenny', 'Smith', 48, 75])

In [70]:
# you can return the value in the specific key
id345['First Name']

'Jenny'

In [75]:
id345

{'First Name': 'Jenny', 'Last Name': 'Smith', 'Age': 48, 'Heart Rate': 75}

In [78]:
# for keys that have not been filled with a value, you can use the "get" function to avoid long 
id345.get("surname")

## Sets
#### an unordered collection of unique values