# Lecture 6 Homework

> ### Haley Chokshi

> #### Question 1a

In [34]:
# 3 times 8
3 * 8

24

> #### Question 1b

In [35]:
# 33 plus 7 all divided by 5
(33 + 7)/ 5

8.0

> #### Question 2

In [36]:
# Determine the data type of the output of the code 1+2.0 and 1+2. Explain why the data types are different
type(1+2.0)

float

In [37]:
type(1+2)

int

> #### Question 3

In [38]:
# Generate a loop that prints n^2 for each of the numbers n={1,2,3,4,5}
for i in range(1,6):
    print(i * i)

1
4
9
16
25

> #### Question 4

In [40]:
# establish variable
i = 1

# loop through i^2 until i^2 = 1000
while (i ** 2) < 1000:
    i * i
    i += 1
print(i)

32