In [1]:
# 1. How do you import the pandas package in Python?
import pandas as pd

In [4]:
# 2. What function do you use to read a CSV file in pandas?

df = pd.read_csv('https://raw.githubusercontent.com/juanklopper/TutorialData/main/heart_failure.csv')

In [5]:
# 3. How do you display the first 5 rows of df in pandas?
print(df.head())

    age anaemia  creatinine_phosphokinase diabetes  ejection_fraction  \
0  75.0      No                       582       No                 20
1  55.0      No                      7861       No                 38
2  65.0      No                       146       No                 20
3  50.0     Yes                       111       No                 20
4  65.0     Yes                       160      Yes                 20

  hypertension  platelets  serum_creatinine  serum_sodium     sex smoking  \
0          Yes  265000.00               1.9           130    Male      No
1           No  263358.03               1.1           136    Male      No
2           No  162000.00               1.3           129    Male     Yes
3           No  210000.00               1.9           137    Male      No
4           No  327000.00               2.7           116  Female      No

   time death
0     4   Yes
1     6   Yes
2     7   Yes
3     7   Yes
4     8   Yes

In [6]:
# 4. How do you calculate the mean of a column named Age in a DataFrame named df?
print(df['age'].mean())

60.83389297658862

In [7]:
# 5. How do you calculate the median of a column named creatinine_phosphokinase in a DataFrame named df?
print(df['creatinine_phosphokinase'].median())

250.0

In [8]:
# 6. How do you calculate the standard deviation of a column named ejection_fraction in a DataFrame named df?
print(df['ejection_fraction'].std())

11.834840741039173

In [9]:
# 7. How do you find the number of missing values in each column of a DataFrame named df?
print(df.isnull().sum())

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
hypertension                0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
death                       0
dtype: int64

In [10]:
# 8. How do you calculate the correlation between two columns, age and serum_creatinine, in a DataFrame named df?
print(df['age'].corr(df['serum_creatinine']))

0.15918713328355025

In [13]:
# 9. How do you select a subset of a DataFrame df where the column Age is greater than 60?
print(df[df['age'] > 60])

      age anaemia  creatinine_phosphokinase diabetes  ejection_fraction  \
0    75.0      No                       582       No                 20
2    65.0      No                       146       No                 20
4    65.0     Yes                       160      Yes                 20
5    90.0     Yes                        47       No                 40
6    75.0     Yes                       246       No                 15
..    ...     ...                       ...      ...                ...
283  65.0      No                      1688       No                 38
288  65.0      No                       892      Yes                 35
289  90.0     Yes                       337       No                 38
293  63.0     Yes                       103      Yes                 35
294  62.0      No                        61      Yes                 38

    hypertension  platelets  serum_creatinine  serum_sodium     sex smoking  \
0            Yes  265000.00               1.9           130    Male      No
2             No  162000.00               1.3           129    Male     Yes
4             No  327000.00               2.7           116  Female      No
5            Yes  204000.00               2.1           132    Male     Yes
6             No  127000.00               1.2           137    Male      No
..           ...        ...               ...           ...     ...     ...
283           No  263358.03               1.1           138    Male     Yes
288           No  263358.03               1.1           142  Female      No
289           No  390000.00               0.9           144  Female      No
293           No  179000.00               0.9           136    Male     Yes
294          Yes  155000.00               1.1           143    Male     Yes

     time death
0       4   Yes
2       7   Yes
4       8   Yes
5       8   Yes
6      10   Yes
..    ...   ...
283   250    No
288   256    No
289   256    No
293   270    No
294   270    No

[137 rows x 13 columns]

In [14]:
# 10. How do you calculate the range (maximum - minimum) of a column named serum_sodium in a DataFrame named df?
print(df['serum_sodium'].max() - df['serum_sodium'].min())

35

In [21]:
# 11. How do you group a DataFrame df by a column named sex and calculate the mean of serum_sodium within each group?
df.groupby('sex').serum_sodium.mean()

sex
Female    136.790476
Male      136.536082
Name: serum_sodium, dtype: float64

In [22]:
# 12. How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?
df.groupby(['age', 'serum_sodium']).size()

age   serum_sodium
40.0  132             1
      136             2
      137             1
      140             1
      141             1
                     ..
90.0  134             1
      144             1
94.0  134             1
95.0  132             1
      138             1
Length: 198, dtype: int64

In [23]:
# 13. How do you use the groupby method to find the maximum Age in each serum_sodium in a DataFrame df?
df.groupby('serum_sodium').age.max()

serum_sodium
113    60.0
116    65.0
121    48.0
124    46.0
125    75.0
126    60.0
127    60.0
128    50.0
129    65.0
130    75.0
131    75.0
132    95.0
133    80.0
134    94.0
135    80.0
136    85.0
137    81.0
138    95.0
139    72.0
140    87.0
141    73.0
142    73.0
143    62.0
144    90.0
145    82.0
146    60.0
148    75.0
Name: age, dtype: float64

In [25]:
# 14. How do you create a cross-tabulation table that shows the frequency count of Age (rows) and serum_sodium (columns) in a DataFrame df?
pd.crosstab(df['age'], df['serum_sodium'])

serum_sodium,113,116,121,124,125,126,127,128,129,130,...,138,139,140,141,142,143,144,145,146,148
age,,,,,,,,,,,,,,,,,,,,,
40.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
41.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
42.000,0,0,0,0,0,0,0,1,0,0,...,0,1,3,0,0,0,0,0,0,0
43.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44.000,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
45.000,0,0,0,0,0,0,1,0,0,0,...,2,3,2,1,1,0,0,1,0,0
46.000,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48.000,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49.000,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
50.000,0,0,0,0,0,0,0,1,0,1,...,2,2,2,2,1,0,0,0,0,0
51.000,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
52.000,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,1,0,0,0,0,0
53.000,0,0,0,0,0,0,0,0,0,1,...,1,2,0,0,0,0,0,1,0,0
54.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55.000,0,0,0,0,0,0,0,0,0,0,...,2,2,4,0,0,1,0,0,0,0
56.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
57.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
58.000,0,0,0,0,0,0,0,0,0,0,...,1,3,0,1,1,0,0,0,0,0
59.000,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
60.000,1,0,0,0,0,1,2,0,0,0,...,3,2,3,1,2,1,1,1,1,0
60.667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
62.000,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
63.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2,0,0
64.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65.000,0,1,0,0,0,0,0,0,2,1,...,4,1,3,1,1,0,0,1,0,0
66.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68.000,0,0,0,0,0,0,0,0,0,1,...,1,0,2,0,0,0,0,0,0,0
69.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70.000,0,0,0,0,0,0,0,0,0,0,...,2,2,3,1,2,0,0,1,0,0
72.000,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
73.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
75.000,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
77.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
78.000,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
79.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
81.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
85.000,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
86.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87.000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
90.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
94.000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95.000,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
# 15. How do you create a cross-tabulation table that shows the mean age for each combination of serum_sodium (rows) and serum_creatinine (columns) in a DataFrame df?
pd.crosstab(df['serum_sodium'], df['serum_creatinine'], values=df['age'], aggfunc='mean')

serum_creatinine,0.50,0.60,0.70,0.75,0.80,0.90,1.00,1.10,1.18,1.20,...,3.70,3.80,4.00,4.40,5.00,5.80,6.10,6.80,9.00,9.40
serum_sodium,,,,,,,,,,,,,,,,,,,,,
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,...,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,50.00,NaN,49.000000,51.00,NaN,NaN,NaN,53.000000,...,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
131,NaN,75.0,NaN,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,...,NaN,NaN,75.0,NaN,NaN,NaN,60.0,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,50.00,56.666667,NaN,NaN,76.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,57.50,NaN,70.000000,NaN,55.000000,63.000000,NaN,67.000000,...,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,80.0
134,NaN,50.0,NaN,NaN,56.000000,50.50,70.500000,72.666667,NaN,69.000000,...,60.0,NaN,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN
135,NaN,NaN,53.00,NaN,49.000000,NaN,69.000000,NaN,NaN,55.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,55.75,NaN,67.500000,62.00,58.629667,53.500000,NaN,57.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,70.50,NaN,51.500000,58.25,64.666667,56.000000,58.1,64.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN
138,NaN,60.0,53.00,NaN,53.333333,57.50,64.285714,60.000000,NaN,50.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,50.0,NaN,52.00,NaN,47.500000,60.00,53.500000,50.250000,NaN,62.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,50.75,60.0,56.500000,57.00,58.888889,66.500000,NaN,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,50.00,NaN,45.000000,68.00,59.000000,65.000000,NaN,61.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,58.00,NaN,NaN,50.00,46.000000,65.000000,73.0,70.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,62.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,90.00,NaN,68.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,60.00,63.500000,67.500000,NaN,63.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN