## Lecture 7 Homework

> ### Haley Chokshi

> ##### 1) A built-in data structure that allows for the storage of a collection of items.

In [53]:
# 2)

my_list = [1,2,3,4,5]
my_list[2]

3

In [54]:
# 3)

new_item = 6
print(my_list)
my_list.append(new_item)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

> ##### 4) You write "*tuple name* = 'apple','banana', 'cherry'"

In [55]:
# 5) 

my_tuple = 'apple', 'banana', 'cherry'
my_tuple[0]

'apple'

In [56]:
# 6)

my_dict = {'name':'John Doe', 'age':30}
my_dict

{'name': 'John Doe', 'age': 30}

In [57]:
# 7)

my_dict['name']

'John Doe'

In [58]:
# 8) 

my_dict['age'] = 35
my_dict.values()

dict_values(['John Doe', 35])

In [59]:
# 9)
my_dict['city'] = 'New York'
my_dict

{'name': 'John Doe', 'age': 35, 'city': 'New York'}

> ###### 10) You write "*set name* = {*whatever elements you'd like to add*}

In [60]:
# 11)

my_set = {'apple', 'banana', 'cherry'}
print(my_set)
my_set.add('orange')
my_set

{'apple', 'banana', 'cherry'}

{'apple', 'banana', 'cherry', 'orange'}

In [61]:
# 12) 


my_set.remove('banana')
my_set

{'apple', 'cherry', 'orange'}

In [62]:
# 13)

my_list = [1, 2, 3, 4, 5]
len(my_list)

5

In [63]:
# 14) 
# the list will repeat itself twice

my_list = [1, 2, 3]
print(my_list * 2)

[1, 2, 3, 1, 2, 3]

In [64]:
# 15)
# will remove repeating values in the list and put it in numerical order

set([1,2,2,3,4,4,5,5])

{1, 2, 3, 4, 5}